* {
    box-sizing: border-box;
}
html {
    font-family: Roboto, sans-serif;
}
body {
    background-color: #eee;
    margin: 0; 
}
header {
    grid-column: span 11;
    background-color: #fff;
    border-bottom: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
aside {
    background-color: #444; 
    grid-row-start: 1;
    grid-row-end: 3;   
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
main {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 2;
}
label {
    display: block;
    margin-bottom: 5px;
    width: auto;
}
input {
    border-radius: 3px;
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}
input[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #6495ED;
    border: none;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}
.container {
    display: grid;
    grid-template-columns: 50px repeat(11, 1fr);
    grid-template-rows: 50px 1fr; 
    min-height: 100vh;
}
.block {
    border: 1px solid;
    background-color:  #ffffff;
    padding: 20px;
    margin: 0 0 50px;
}
i.fas,
i.far {
   margin-top: 10px;
   font-size: 24px; 
   color: #fff;
}

@media screen and (max-width: 768px) { main {grid-column-start: 2; grid-column-end: 13;} }
@media screen and (min-width: 1024px) { main {grid-column-start: 5; grid-column-end: 10;} }

