* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 320px;
}

body {
    background-color: #eee;
    margin: 0;
}

header {
    grid-column: span 11;
    background-color: #fff;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: #444;
    grid-row-start: 1;
    grid-row-end: 3;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 2;
}

label {
    display: block;
    margin-bottom: 5px;
    width: auto;
}

input {
    border-radius: 3px;
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}

input[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #6495ED;
    border: none;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-columns: 50px repeat(11, 1fr);
    grid-template-rows: 50px 1fr;
    min-height: 100vh;
}

.block {
    border: 1px solid;
    background-color: #ffffff;
    padding: 20px;
    margin: 50px 0 0;
}

.groupTitle {
    text-transform: capitalize;
    font-weight: bold;
}

.groupTitle span {
    color: #ccc;
    font-size: 0.8em;
    font-weight: normal;
}

.group {
    display: table;
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
}

.group:last-of-type {
    margin-bottom: 0;
}

.group li {
    display: table-row;
    position: relative;
}

.group li span {
    display: table-cell;
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
    color: #000;
}

.group li span:first-of-type {
    text-transform: capitalize;
}

.group li:last-of-type span {
    border-bottom: none;
}

.group li span:last-of-type {
    text-align: right;
    min-width: 80px;
}

aside i.fas,
aside i.far {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    main {
        grid-column-start: 2;
        grid-column-end: 13;
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-column-start: 5;
        grid-column-end: 10;
    }

    #users {
        max-height: 50vh;
        overflow-y: auto;
    }

    .group li {
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #346ead;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}
